<main>
  <h3>Top stoories</h3>
  <ul>
    {{#each stories}}
    {{#unless this.deleted}}
    {{#unless this.dead}}
    {{#if this.title}}
    {{> partials/story}}
    {{/if}}
    {{/unless}}
    {{/unless}}
    {{/each}}
  </ul>
</main>