<ul>
  {{#each stories}}
  {{#unless this.deleted}}
  {{#unless this.dead}}
  {{#if this.title}}
  <li>
    <article>
      <a href="{{this.uRL}}" target="_blank" rel="noopener norefferer"><h3>{{this.title}}</h3></a>
      <p>Bij {{this.by}}</p>
      <a href="/story/{{this.iD}}">Reacties</a>
    </article>
  </li>
  {{/if}}
  {{/unless}}
  {{/unless}}
  {{/each}}
</ul>